.control_form{
	display: flex;
	
	background-color: rgba($very-light-green,0.2);
	&-fields{
		flex-grow: 1;
		padding: 15px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
.control_panel{
	padding: 20px 0;

}
.control_buttons{
	display: flex;
	gap: 20px;
}

.control_button{
	padding: 10px;
	font-family: $Mulish;
	border: 1px solid $dark-green;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s;
	&:hover{
		box-shadow: inset 0 0 5px $green;
	}
}