

.header{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: $dark-teal;
	&-content{
		@include container();
	}
	&-link{
		text-decoration: none;

		&-logo{
			color: $very-light-green;
		}
	}
}