
$very-light-green:#9dc493;
$light-green:#619b63;
$green:#1e6c2b;
$dark-green:#005514;
$dark-teal:#1f3f42;
$teal:#005245;
$red:#c92228;
$app-padding: 50px;
$Lora: 'Lora', serif;
$Merriweather: 'Merriweather', serif;
$Mulish:'Mulish', sans-serif;
$Mukta:'Mukta', sans-serif;
$Poppins:'Poppins', sans-serif;

$switch-theme-transition:0.3s;


html[data-theme='light']{
	
}

html[data-theme='dark']{

}